ul.navbar-nav li.nav-item {
  margin: 10px;
  background-color: #122A4C;
  padding: 5px;
  border-radius: 10px; }
  ul.navbar-nav li.nav-item div.dropdown-menu {
    background-color: gray; }
    ul.navbar-nav li.nav-item div.dropdown-menu h6.dropdown-header {
      color: white; }
  ul.navbar-nav li.nav-item .dropdown-item:hover {
    text-decoration: none;
    background-color: #bcbcbc; }
  ul.navbar-nav li.nav-item svg {
    font-size: 18px;
    margin-top: -1px; }
  ul.navbar-nav li.nav-item a {
    padding: 0; }
    ul.navbar-nav li.nav-item a:hover {
      text-decoration: none; }

.search-input {
  float: left;
  width: auto;
  margin-right: 10px;
  height: 28px; }

.search-button {
  float: left;
  cursor: pointer;
  height: 28px;
  padding: 0 10px; }
