ul.navbar-nav {
  li.nav-item {
    div.dropdown-menu{
      background-color: gray;
      h6.dropdown-header{
        color: white;
      }
    }
    margin: 10px;
    background-color: gray;
    padding: 5px;
    border-radius: 4px;
    svg {
      font-size: 18px;
      margin-top: -1px;
    }
  }

}
