@import '../../style/colors.scss';

ul.navbar-nav {
  li.nav-item {
    margin: 10px;
    background-color: $atlas-orange;
    padding: 5px;

    div.dropdown-menu{
      background-color: gray;

      h6.dropdown-header{
        color: white;
      }
    }

    .dropdown-item:hover {
      text-decoration: none;
      background-color: #bcbcbc;
    }

    svg {
      font-size: 18px;
      margin-top: -1px;
    }

    a {
      padding: 0;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.searchSuggestion:hover {
  cursor: pointer;
}
