@import '../../style/colors.scss';

ul.navbar-nav {
  li.nav-item {
    margin: 10px;
    background-color: $atlas-orange;
    padding: 5px;
    border-radius: 10px;

    div.dropdown-menu{
      background-color: gray;

      h6.dropdown-header{
        color: white;
      }
    }

    .dropdown-item:hover {
      text-decoration: none;
      background-color: #bcbcbc;
    }

    svg {
      font-size: 18px;
      margin-top: -1px;
    }

    a {
      padding: 0;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.search-input {
  float: left;
  width: auto;
  margin-right: 10px;
  height: 28px;
}

.search-button {
  float: left;
  cursor: pointer;
  height: 28px;
  padding: 0 10px;
}
