.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

$background-blur: 2px;
$background-contrast: 90%;
$logo-size: 40px;

.background-image {
  position: absolute;
  left: -10px;
  top: -10px;
  z-index: -1;
  -webkit-filter: blur($background-blur) contrast($background-contrast);;
  -moz-filter: blur($background-blur) contrast($background-contrast);;
  -o-filter: blur($background-blur) contrast($background-contrast);;
  -ms-filter: blur($background-blur) contrast($background-contrast);;
  filter: blur($background-blur) contrast($background-contrast);
}

.logo {
  width: $logo-size;
  height: $logo-size;
}

.navbar a {
  color: white;
}

.App-header {
  margin-top: 150px;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open_Sans/OpenSans-Regular.ttf');
}

.App-title {
  color: white;
  font-size: 100px;
  font-family: 'Open Sans';
}
