@import "../../style/colors.scss";
@import "./react_tags.scss";

$ch-border-width: 2px;

a, a:hover {
  text-decoration: none;
  color: black;
}
.whitebox {
  background-color: white;
  padding: 20px;
  color: black;
  -webkit-box-shadow: 0px 0px 42px -17px rgba(0,0,0,0.39);
  -moz-box-shadow: 0px 0px 42px -17px rgba(0,0,0,0.39);
  box-shadow: 0px 0px 42px -17px rgba(0,0,0,0.39);
}
.whitebox-profile {
  background-color: white;
  padding: 20px;
  width: 900px;
  color: black;
  -webkit-box-shadow: 0px 0px 42px -17px rgba(0,0,0,0.39);
  -moz-box-shadow: 0px 0px 42px -17px rgba(0,0,0,0.39);
  box-shadow: 0px 0px 42px -17px rgba(0,0,0,0.39);
  .hr{
    width: 800px;
  }
}
.whitebox-comment {
  background-color: white;
  color: black;
  margin: auto;
  .info{
    text-align: center;
  }
  img{
    width: 100px;
    height: 100px;
  }
  h3{
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
}
.cultural-heritage {
  list-style: none;
  a {
    color: black;
    text-decoration: none;
  }
  img {
    width: 100%;
  }

}

ul.cultural-heritages {
  padding: 0;

  a:hover {
    text-decoration: none;
  }

  li {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
    margin-bottom: 40px;
    border: $ch-border-width solid white; // CSS trick for non-moving on-hover border

    img {
      width: 100%;
    }
  }

  li:hover {
    border: $ch-border-width solid $atlas-orange;
    text-decoration: none;
  }
}

body {
  background-color: white;
  background-color: rgba(240, 240, 240, 1);
}

.small-label {
  background-color: gray;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  margin-right: 10px;

  svg {
    margin-top: -3px;
  }
}

.help-1 {
  position: absolute;
  right: 100px;
  top: 300px;
  background-color: $atlas-blue;
  padding: 30px;
  color: white;
  z-index: 3;
  width: 300px;
}

.close-help {
  float: right;
  display: inline-block;

  &:hover {
    cursor: pointer;
  }
}

.date {
  font-size: 13px;
  float: right;
  
  svg {
    margin-top: -3px;
  }
}

.comment-input {
  width: 100%;
  height: 150px;
  border-radius: 0;
}

.fav-indicator {
  padding: 10px;
  margin-right: 10px;
  svg {
    margin-left: 5px;
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

img.ch-image {
  width: 100%;
}

.recommended-items {
  background-color: white;
  padding: 10px;
  h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 15px;
  }
  .recommended-item {
    margin-bottom: 20px;
    display: inline-block;
  }
}

.spinner {
  text-align: center;
  width: 100%;
  margin-top: 200px;

  svg {
    font-size: 50px;
  }
  span {
    font-size: 30px;
    margin-left: 10px;
  }
}
