ul.cultural-heritages {
  padding: 0;
  margin-top: 10px;
  li {
    list-style: none;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    img {
      width: 100%;
    }
  }
}

body {
  background-color: rgba(180,151, 132, 0.4);
}
