@font-face {
  font-family: 'Open Sans';
  /* Here is the thing with the path: when Home.scss imports this file, it hardcodes this path; hence we need to put path relative TO Home.scss. */
  src: url("../../assets/fonts/Open_Sans/OpenSans-Regular.ttf"); }

.Home {
  text-align: left; }

.Home-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  color: gray; }

.Home-intro {
  font-size: large; }

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.background-image {
  position: absolute;
  left: -10px;
  top: -10px;
  z-index: -1;
  -webkit-filter: blur(0.5px) brightness(95%);
  -moz-filter: blur(0.5px) brightness(95%);
  -o-filter: blur(0.5px) brightness(95%);
  -ms-filter: blur(0.5px) brightness(95%);
  filter: blur(0.5px) brightness(95%); }

.logo {
  width: 40px;
  height: 40px; }

.navbar a {
  color: white; }

.navbar a.navbar-brand {
  color: #ce8b10; }

.Home h1 {
  font-family: "Trebuchet MS",Helvetica, SansSerif;
  font-size: 96px;
  font-style: italic;
  font-stretch: expanded; }

.Home h2 {
  font-family: "Trebuchet MS",Helvetica, SansSerif;
  font-size: 108px;
  font-weight: bold;
  font-style: italic;
  font-stretch: expanded; }

header.Home-header {
  color: black;
  font-size: 72px;
  margin-top: 50px; }

footer.Home-footer {
  margin-top: 60px;
  text-align: center; }
  footer.Home-footer a.down-link {
    color: white;
    font-size: 30px;
    text-decoration: underline;
    display: block; }
