@font-face {
  font-family: 'Open Sans';
  /* Here is the thing with the path: when Home.scss imports this file, it hardcodes this path; hence we need to put path relative TO Home.scss. */
  src: url("../../assets/fonts/Open_Sans/OpenSans-Regular.ttf"); }

.Home {
  text-align: center; }

.Home-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  color: gray; }

.Home-intro {
  font-size: large; }

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.background-image {
  position: absolute;
  left: -10px;
  top: -10px;
  z-index: -1;
  -webkit-filter: blur(0.5px) brightness(80%);
  -moz-filter: blur(0.5px) brightness(80%);
  -o-filter: blur(0.5px) brightness(80%);
  -ms-filter: blur(0.5px) brightness(80%);
  filter: blur(0.5px) brightness(80%); }

.logo {
  width: 40px;
  height: 40px; }

.navbar a {
  color: white; }
  .navbar a a.navbar-brand {
    color: gray; }

header.Home-header {
  margin-top: 150px; }

h1.Home-title {
  color: white;
  font-size: 100px;
  font-family: 'Open Sans'; }

footer.Home-footer {
  margin-top: 100px; }
  footer.Home-footer a.down-link {
    color: white;
    font-size: 30px;
    text-decoration: underline;
    display: block; }
