@import '../../assets/css/fonts.scss';
@import '../../style/colors.scss';

.Home {
  text-align: center;
}

.Home-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  color: gray;
}

.Home-intro {
  font-size: large;
}

@keyframes Home-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

$background-blur: 0.5px;
$background-brightness: 80%;
$logo-size: 40px;

.background-image {
  position: absolute;
  left: -10px;
  top: -10px;
  z-index: -1;
  -webkit-filter: blur($background-blur) brightness($background-brightness);
  -moz-filter: blur($background-blur) brightness($background-brightness);
  -o-filter: blur($background-blur) brightness($background-brightness);
  -ms-filter: blur($background-blur) brightness($background-brightness);
  filter: blur($background-blur) brightness($background-brightness);
}

.logo {
  width: $logo-size;
  height: $logo-size;
}

.navbar {
  a {
    color: white;
  }

  a.navbar-brand {
    color: $atlas-orange;
  }
}

header.Home-header {
  margin-top: 150px;
}

h1.Home-title {
  color: white;
  font-size: 100px;
  font-family: 'Open Sans';
}

footer.Home-footer {
  margin-top: 100px;
  a.down-link {
    color: white;
    font-size: 30px;
    text-decoration: underline;
    display: block;
  }
}
