@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf"); }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.background-image {
  position: absolute;
  left: -10px;
  top: -10px;
  z-index: -1;
  -webkit-filter: blur(0.5px) brightness(80%);
  -moz-filter: blur(0.5px) brightness(80%);
  -o-filter: blur(0.5px) brightness(80%);
  -ms-filter: blur(0.5px) brightness(80%);
  filter: blur(0.5px) brightness(80%); }

.logo {
  width: 40px;
  height: 40px; }

.navbar a {
  color: white; }

header.App-header {
  margin-top: 150px; }

h1.App-title {
  color: white;
  font-size: 100px;
  font-family: 'Open Sans'; }

footer.App-footer {
  margin-top: 100px; }
  footer.App-footer a {
    color: gray;
    font-size: 30px;
    text-decoration: underline; }
