@import "../../style/colors.scss";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700');

$ch-border-width: 2px;
.atlasheader{

  h1{
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'PT Sans', sans-serif;
    margin: auto;
    color: $atlas-orange;

  }
}