@import url("https://fonts.googleapis.com/css?family=PT+Sans:700");
.atlasheader h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'PT Sans', sans-serif;
  margin: auto;
  color: #ce8b10; }
